*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
}
body
{
    background: #baccd2;
}
main {
    margin: 0 auto;
    max-width: 1024px;
}
h1
{
    color: #6e3a3a;
    padding: 20px 0 40px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.container
{
    display: flex;
}
svg
{
    height: 75vh;
    align-self: flex-start;
    transform-origin: center;
    transition: transform 5s ease-in-out;
    margin-right: 3em;
}
.form
{
    margin: 10px;
    padding: 20px;
    background: #6e3a3a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
textarea
{
    background: rgb(237, 238, 240);
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
}
button
{
    display: block;
    margin: 10px auto;
    padding: 16px 50px;
    border-radius: 40px;
    border: 1px solid #8a7d7d;
    outline: none;
    background: #8b7979;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover
{
    background: #685a5a;
    border: 1px solid #fff;
}
img
{   
    position: absolute;
    transform: rotate(90deg);
    scale: 0.2 0.2;
    top: -170px;
    left: 17%;
}