*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    justify-content: center;
}
body
{
    background: #baccd2;
}
svg .wheel
{
    transform-box: fill-box;
    transform-origin: center;
    align-items: center;
    min-width: 400px;
    transition: transform 5s ease-in-out;
}
svg text
{
    transform-box: fill-box;
    text-align: center; 
    user-select: none; 
    text-anchor: start;
    transform-origin: left;   
}
svg .finger {
    transform-origin: bottom right;
}
main {
    margin: 0 auto;
    max-width: 1024px;
}
h1
{
    color: #6e3a3a;
    padding: 20px 0 40px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    gap: 3em;
}
.container > * {
    max-width: 500px;
    margin-top: 20px;
    flex-grow: 1;
}
label
{
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    background-color: #fff;
}
.form
{
    width: fit-content;
    height: max-content;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-grow: 3px;
    flex-direction: column;
}
#spinbutton {
    border-radius: 50%;
    margin: 0;
    position: relative;
    right: 25vh;
    top: 35vh;
    max-width: 50px;
    max-height: 50px;
}
.form label {
    background: none;
}
.form .word
{
    position: relative;
    margin: 5px;
    width: 200px;
    height: 60px;
    background: #fff;
    border: #000 5px solid;
    border-radius: 50px;
    justify-content: center;
}

.form .word span
{
    position: absolute;
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form .word button img
{
    width: 50px;
    height: 50px;
}
.form .word button
{
    position: absolute;
    background: transparent;
    border: none;
    align-self: self-end;
    user-select: none;
    padding-left: 140px;
    width: 50px;
    height: 50px;
}
.form .word button:hover img
{
    background: #ddddddba;
    border-radius: 50%;
}
.form input
{
    background: rgb(237, 238, 240);
    border-radius: 10px;
    padding: 10px;
    border-color: #fff;
}
.form .normalbutton button
{
    display: block;
    margin: 2px auto;
    padding: 16px 50px;
    border-radius: 40px;
    border: 1px solid #8a7d7d;
    outline: none;
    background: #8b7979;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.form .normalbutton button:hover
{
    background: #685a5a;
    border: 1px solid #fff;
}
